header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   z-index: 999;
}

header div.logo-area{
    width: auto;
    height: 117px;
    background-color: #FFC107;
    display: flex;
    justify-content: center;
    align-items: center;  
}

header div.logo-area img{
    width: 325px;
    height: 85px;
    max-width: 100%;
    max-height: 100%;
}

header nav.menu{
    background-color: #FFA000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav.menu ul{
    list-style-type: none;
    height: 45px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav.menu ul li a{
    display: block;
    padding: 0 55px;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24.38px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

header nav.menu ul li a:hover{
    color: #FFC107;
}

@media screen and (max-width: 900px){
    header nav.menu ul{
        height: auto;
        flex-direction: column;
    }

    header nav.menu ul li{
        border: #FFC107 1px solid;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }

    header nav.menu ul li:hover{
        background-color: #FFC107;
    }

    header nav.menu ul li a{
        padding: 0;
        font-size: 18px;
        line-height: 22px;
    }

    header nav.menu ul li a:hover{
        color: #FFF;
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 450px){
    header div.logo-area img{
        width: 250px;
        height: auto;
    }
}